Integer (Bilangan Bulat)

In [10]:
2

2

In [9]:
100

100

In [11]:
1000

1000

Float (Bilangan Desimal)

In [4]:

3.32
3.0

3.0

String (Teks & Karakter)

In [5]:

'sdahsdjkah'
"dsadasdsa"
"Assalamu'alaikum"

"Assalamu'alaikum"

Boolean (True & False)

In [6]:

True
False

False

Modulus % (mendapatkan sisa hasil)

In [20]:
10/3

3.3333333333333335

In [7]:
10%3

1

Pangkat **

In [8]:
24**2

576

Assignment

In [17]:
bil1 = 3.0

In [18]:
bil1

3.0

In [19]:
#cek tipe data
type(bil1)

float

**Data Structure**

Variabel

In [107]:
var1 = 1.0 #jika hanya memiliki satu element akan menjadi variabel biasa

In [108]:
type(var1) #tipe data variable mengikuti element didalamnnya

float

In [111]:
var2 = 1, 2, 4, "gaskeun"

In [112]:
type(var2) #jika memiliki lebih dari satu element akan menjadi Tuple

tuple

Mutable

In [115]:
mutable = [1, 3, 3, 4, 5, 6] #ini bertipe data list sehingga mutable

In [ ]:
mutable[1] = 2

In [133]:
mutable

[1, 2, 3, 4, 5, 6]

In [134]:
namam = 'olim Ilman Nurhadi' #ini merukapan variable String

In [135]:
namam[0] = 'A' #variable Str unmutable

TypeError: 'str' object does not support item assignment

In [136]:
namam + 'ganteng'

'olim Ilman Nurhadiganteng'

In [137]:
namam * 2

'olim Ilman Nurhadiolim Ilman Nurhadi'

In [138]:
namam2 = namam + ' alias Andry'

In [139]:
namam2

'olim Ilman Nurhadi alias Andry'

List (ordered, mutable, index/slicing, duplicate element) - []

In [116]:
keranjang = [1, 2.3, 'apel'] #dapat berisi berbagai tipe data

In [117]:
keranjang.append(2)

In [118]:
len(keranjang) #mengetahui jumlah item

4

In [119]:
keranjang[1]

2.3

Tuple (ordered, index/slicing, duplicate element) - ()

In [120]:
bumi = ('tanah', 'air', 'api', 'udara')

In [121]:
bumi[0]

'tanah'

Dictionary (mutable, index/slicing) - {}.

In [122]:
mobil = {'ban':'karet', 'body':'besi'}

sets (mutable) - {}

In [123]:
s = {'a', 'b', 'kaki', 90}

Indexing
urutan karakter jika dari depan 0 1 2 3...
urutan karekter jika dari belakang ... -3 -2 - 1

In [124]:
"Alim Ilman Nurhadi"[2] #melihat karaker ke

'i'

In [125]:
"Alim Ilman Nurhadi"[2:] #melihat karakter ke-2 hingga terakhir

'im Ilman Nurhadi'

In [126]:
"Alim Ilman Nurhadi"[2::2] #melihat karakter ke-2 hingga terakhir dengan lompatan 2

'i la uhd'

In [127]:
Index_slice = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [128]:
Index_slice[1:8:4]

(1, 5)

**Method**

merupakan fungsi yang dimiliki oleh suatu object

In [146]:
method = 'sekarang atau tidak sama sekali'

In [147]:
method.upper() #method diberikan setelah tanda titik

'SEKARANG ATAU TIDAK SAMA SEKALI'

In [148]:
method #method tidak merubah isi dari variabel

'sekarang atau tidak sama sekali'

In [150]:
method = method.split() #merubah isi variabel dapat dilakukan dengan mengulang defini variabel

In [151]:
method

['sekarang', 'atau', 'tidak', 'sama', 'sekali']

Trik - Penggunaan method format pada print agar mempermudah saat menggunakan banyak variable

In [152]:
print('saya adalah anak ke {}'.format('2'))

saya adalah anak ke 2

In [155]:
print('Urutan saudara saya adalah {} {} {}'.format('Armin', 'Andry', 'Ari'))

Urutan saudara saya adalah Armin Andry Ari

In [156]:
print('urutan saudara saya dari yang termuda adalah {2} {1} {0}'.format('Armin', 'Andry', 'Ari'))

urutan saudara saya dari yang termuda adalah Ari Andry Armin

In [158]:
print('urutan saudara saya dari daskdakj adalah {a} {c} {b}'.format(a='Armin', b='Andry', c='Ari'))

urutan saudara saya dari daskdakj adalah Armin Ari Andry

In [179]:
phi = 22/7

In [185]:
print('nilai phi adalah {}'.format(phi))

nilai phi adalah 3.142857142857143

In [187]:
print('nilai phi adalah {:1.2}'.format(phi)) #Format penulisan method print adalah {nilai:lebar.berapa angka jika dari depan langsung saja, jika dari titik pakai F}

nilai phi adalah 3.1

In [188]:
print('nilai phi adalah {:1.2f}'.format(phi)) #Format penulisan method print adalah {nilai:lebar.berapa angka jika dari depan langsung saja, jika dari titik pakai F}

nilai phi adalah 3.14

Mengenal list

In [189]:
list1 = ['1', '2', '3', 'apel']

In [190]:
len(list1) #mengetahui jumlah element pada variabel

4

looping sederhana

In [192]:
for i in range(len(list1)):
    print(list1[i])

1
2
3
apel

Merubah isi list

In [193]:
list1

['1', '2', '3', 'apel']

In [194]:
list1[3] = '4' #3 adalah index 'apel'

In [195]:
list1

['1', '2', '3', '4']

Menambah isi List

In [196]:
list2 = ['4', '5'] #dapat menambahkan berapapun item

In [197]:
list1 = list1 + list2

In [198]:
list1

['1', '2', '3', '4', '4', '5']

Trik - Penggunaan method format Append

In [199]:
list1.append('6') #method apppend hanya dapat menambahkah satu item saja

In [200]:
list1

['1', '2', '3', '4', '4', '5', '6']

Trik - Penggunaan method Pop

In [201]:
list1.pop(3) #menghapus item pada index ke tiga, jika tanpa index maka menghapus item terakhir

'4'

In [202]:
list1

['1', '2', '3', '4', '5', '6']

In [203]:
list_pop = list1.pop() #mengambil nilai terakhir dan dimasukkan ke variabel baru

In [204]:
list_pop

'6'

In [205]:
list1 #nilai pada variabel list1 berkurang

['1', '2', '3', '4', '5']

Trik - Penggunaan method Sort

In [208]:
var_sort = [1, 2, 3, 4, 5, 7, 8, 9, 0, 6]

In [209]:
var_sort.sort()

In [211]:
var_sort #item menjadi berurut

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
var_sort2 = ['b', 'a', 'c', 'd', 'f', 'e']

In [213]:
var_sort2.sort()

In [214]:
var_sort2

['a', 'b', 'c', 'd', 'e', 'f']

In [215]:
var_sort2.reverse() #method reverse untuk me

In [216]:
var_sort2

['f', 'e', 'd', 'c', 'b', 'a']

Nested List - List dalam List

In [217]:
nlist = [1, 2, 3, 4, [5, 6, 7, 8]]

In [220]:
nlist[4] #index ke adalah list

[5, 6, 7, 8]

In [222]:
nlist[4][0] #index ke empat dan mengambil nilai index ke nol pada list tersebut

5

Memahami List

In [229]:
var1 = list() #kedua cara ini benar
var2 = []

In [230]:
if var1 == var2:
    print('sama dongs') #kedua cara ini sama

sama dongs

In [231]:
list('lenovo bagus') #membuat list dari string akan membagi tiap huruf menjadi item

['l', 'e', 'n', 'o', 'v', 'o', ' ', 'b', 'a', 'g', 'u', 's']

In [232]:
pecah = list('lenovo bagus') #membuat list dari string akan membagi tiap huruf menjadi item

In [233]:
pecah

['l', 'e', 'n', 'o', 'v', 'o', ' ', 'b', 'a', 'g', 'u', 's']

In [3]:
angka1 = [1, 3, 5]
angka2 = [4, 6, 0]

In [4]:
angka3 = angka1 + angka2

In [5]:
angka3 #penambahan list akan menyatukan list

[1, 3, 5, 4, 6, 0]

In [6]:
angka4 = [angka1, angka2]

In [7]:
angka4 #membuat list baru dengan isi dua list diatas

[[1, 3, 5], [4, 6, 0]]

In [10]:
for item in angka4:
    print(item)

    for items in item:
        print(items)

[1, 3, 5]
1
3
5
[4, 6, 0]
4
6
0

Memahami Dictionary

In [11]:
dict1 = {'b1':'kambing', 'b2':'sapi', 'b3':'kuda'}

In [13]:
dict1

{'b1': 'kambing', 'b2': 'sapi', 'b3': 'kuda'}

In [14]:
# Cara memanggil item 
dict1['b2']

'sapi'

In [15]:
# Contoh penggunaan dictionary
harga_mobil = {'avanza':200, 'xenia':190, 'alpard':850}

In [16]:
harga_mobil['avanza']

200

In [44]:
dict2 = {'k1':'bumi', 'k2':432, 'k3':[1, 2, 3, 4, 'lima'], 'k4':{'k5':'kopi', 'k6':'tea'}}

In [18]:
# Mengambil item Kopi
dict2['k4']['k5']

'kopi'

In [19]:
# Merubah item di Dictionary
dict2['k1'] = 123

In [45]:
dict2

{'k1': 'bumi',
 'k2': 432,
 'k3': [1, 2, 3, 4, 'lima'],
 'k4': {'k5': 'kopi', 'k6': 'tea'}}

In [22]:
# memunculkan semua kepala pada Dict
dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [24]:
# memunculkan semua isi pada Dict
dict2.values()

dict_values([123, 432, [1, 2, 3, 4, 'lima'], {'k5': 'kopi', 'k6': 'tea'}])

In [38]:
# memunculkan semua item
dict2.items()

dict_items([('k1', 'bumi'), ('k2', 432), ('k3', [1, 2, 3, 4, 'lima']), ('k4', {'k5': 'kopi', 'k6': 'tea'})])

In [40]:
besar = dict2['k4']['k6'].upper()

In [41]:
besar

'TEA'

In [46]:
# Mengubah isi Dict
dict2['k4']['k6'] = dict2['k4']['k6'].upper()

In [47]:
dict2

{'k1': 'bumi',
 'k2': 432,
 'k3': [1, 2, 3, 4, 'lima'],
 'k4': {'k5': 'kopi', 'k6': 'TEA'}}

Memahami Tuple ()

-Isi tidak bisa berubah, jadi gunakan ketika tahu bahwa data tersebut tidak akan diubah

In [57]:
# Cara membuat tuple
tuple = (1, 2, 3, 4, 5)
tuple1 = 1, 2, 3, 4, 5

In [58]:
print(type(tuple))
print(type(tuple1))

<class 'tuple'>
<class 'tuple'>

In [91]:
# Tuple bisa berbagai tipe data seperti List
tuple_b = (1, 2, 3, 'an', 'dry', 0.2)

In [62]:
# Tuple bisa indexing
tuple_b[2]

3

*Tips - Usahakan selalu menggunakan kurung (),[], dan {}*

In [61]:
# Item pada data Tuple tidak dapat diubah
tuple_b[5] = 2

TypeError: 'tuple' object does not support item assignment

In [71]:
# Cara merubah isi Tuple
tuple_b = tuple_b[0], tuple_b[1], tuple_b[2], 4, 5, tuple_b[5]

In [92]:
tuple_b

(1, 2, 3, 'an', 'dry', 0.2)

In [93]:
# Cara merubah isi Tuple
# Merubah Tuple ke List dan dikembalikan lagi
tuple_b = list(tuple_b)
tuple_b[5] = 6

In [95]:
# Menghapus varibel
del tuple

In [96]:
tuple_b = tuple(tuple_b)

In [97]:
tuple_b

(1, 2, 3, 'an', 'dry', 6)

Method pada Tuple

In [99]:
# Menghitung jumlah item yang sama
tuple_b.count(1)

1

In [100]:
# Mengetahui index sebuah item
tuple_b.index('dry')

4

Mutiple Assignment

In [101]:
# Membuat banyak variabel dengan satu baris
a, b, c, d = 1, 2, 3, 'empat'

In [104]:
print(a)
print(b)
print(c)
print(d)

1
2
3
empat

In [105]:
# Membuat banyak variabel dengan item yang sama
a = b = c = d = 'angka'

In [106]:
a

'angka'

In [107]:
d

'angka'

In [108]:
# Menukar isi variable
a = 'ayam'
b = 'bebek'

In [109]:
a

'ayam'

In [110]:
b

'bebek'

In [111]:
a, b = b, a

In [113]:
print('a adalah {} dan b adalah {}'.format(a, b))

a adalah bebek dan b adalah ayam

In [ ]:
# Multiple Assignment dengan Tuple

In [115]:
t1 = ('ayam', 'bebek', 12, 90.3, ['a', 2, 3.1])

In [116]:
item1, item2, item3, item4, item5 = t1

In [117]:
item1

'ayam'

In [118]:
item5

['a', 2, 3.1]

In [ ]:
sdsadas