Integer (Bilangan Bulat)

In [177]:
2

2

In [178]:
100

100

In [179]:
1000

1000

Float (Bilangan Desimal)

In [180]:

3.32
3.0

3.0

String (Teks & Karakter)

In [181]:

'sdahsdjkah'
"dsadasdsa"
"Assalamu'alaikum"

"Assalamu'alaikum"

Boolean (True & False)

In [182]:

True
False

False

Modulus % (mendapatkan sisa hasil)

In [183]:
10/3

3.3333333333333335

In [184]:
10%3

1

Pangkat **

In [185]:
24**2

576

Assignment

In [186]:
bil1 = 3.0

In [187]:
bil1

3.0

In [188]:
#cek tipe data
type(bil1)

float

**Data Structure**

Variabel

In [189]:
var1 = 1.0 #jika hanya memiliki satu element akan menjadi variabel biasa

In [190]:
type(var1) #tipe data variable mengikuti element didalamnnya

float

In [191]:
var2 = 1, 2, 4, "gaskeun"

In [192]:
type(var2) #jika memiliki lebih dari satu element akan menjadi Tuple

tuple

Mutable

In [193]:
mutable = [1, 3, 3, 4, 5, 6] #ini bertipe data list sehingga mutable

In [194]:
mutable[1] = 2

In [195]:
mutable

[1, 2, 3, 4, 5, 6]

In [196]:
namam = 'olim Ilman Nurhadi' #ini merukapan variable String

In [197]:
namam[0] = 'A' #variable Str unmutable

TypeError: 'str' object does not support item assignment

In [ ]:
namam + 'ganteng'

'olim Ilman Nurhadiganteng'

In [ ]:
namam * 2

'olim Ilman Nurhadiolim Ilman Nurhadi'

In [ ]:
namam2 = namam + ' alias Andry'

In [ ]:
namam2

'olim Ilman Nurhadi alias Andry'

List (ordered, mutable, index/slicing, duplicate element) - []

In [ ]:
keranjang = [1, 2.3, 'apel'] #dapat berisi berbagai tipe data

In [ ]:
keranjang.append(2)

In [ ]:
len(keranjang) #mengetahui jumlah item

4

In [ ]:
keranjang[1]

2.3

Tuple (ordered, index/slicing, duplicate element) - ()

In [ ]:
bumi = ('tanah', 'air', 'api', 'udara')

In [ ]:
bumi[0]

'tanah'

Dictionary (mutable, index/slicing) - {}.

In [ ]:
mobil = {'ban':'karet', 'body':'besi'}

sets (mutable) - {}

In [ ]:
s = {'a', 'b', 'kaki', 90}

Indexing
urutan karakter jika dari depan 0 1 2 3...
urutan karekter jika dari belakang ... -3 -2 - 1

In [ ]:
"Alim Ilman Nurhadi"[2] #melihat karaker ke

'i'

In [ ]:
"Alim Ilman Nurhadi"[2:] #melihat karakter ke-2 hingga terakhir

'im Ilman Nurhadi'

In [ ]:
"Alim Ilman Nurhadi"[2::2] #melihat karakter ke-2 hingga terakhir dengan lompatan 2

'i la uhd'

In [ ]:
Index_slice = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
Index_slice[1:8:4]

(1, 5)

**Method**

merupakan fungsi yang dimiliki oleh suatu object

In [ ]:
method = 'sekarang atau tidak sama sekali'

In [ ]:
method.upper() #method diberikan setelah tanda titik

'SEKARANG ATAU TIDAK SAMA SEKALI'

In [ ]:
method #method tidak merubah isi dari variabel

'sekarang atau tidak sama sekali'

In [ ]:
method = method.split() #merubah isi variabel dapat dilakukan dengan mengulang defini variabel

In [ ]:
method

['sekarang', 'atau', 'tidak', 'sama', 'sekali']

Trik - Penggunaan method format pada print agar mempermudah saat menggunakan banyak variable

In [ ]:
print('saya adalah anak ke {}'.format('2'))

saya adalah anak ke 2

In [ ]:
print('Urutan saudara saya adalah {} {} {}'.format('Armin', 'Andry', 'Ari'))

Urutan saudara saya adalah Armin Andry Ari

In [ ]:
print('urutan saudara saya dari yang termuda adalah {2} {1} {0}'.format('Armin', 'Andry', 'Ari'))

urutan saudara saya dari yang termuda adalah Ari Andry Armin

In [ ]:
print('urutan saudara saya dari daskdakj adalah {a} {c} {b}'.format(a='Armin', b='Andry', c='Ari'))

urutan saudara saya dari daskdakj adalah Armin Ari Andry

In [ ]:
phi = 22/7

In [ ]:
print('nilai phi adalah {}'.format(phi))

nilai phi adalah 3.142857142857143

In [ ]:
print('nilai phi adalah {:1.2}'.format(phi)) #Format penulisan method print adalah {nilai:lebar.berapa angka jika dari depan langsung saja, jika dari titik pakai F}

nilai phi adalah 3.1

In [ ]:
print('nilai phi adalah {:1.2f}'.format(phi)) #Format penulisan method print adalah {nilai:lebar.berapa angka jika dari depan langsung saja, jika dari titik pakai F}

nilai phi adalah 3.14

Mengenal list

In [ ]:
list1 = ['1', '2', '3', 'apel']

In [ ]:
len(list1) #mengetahui jumlah element pada variabel

4

looping sederhana

In [ ]:
for i in range(len(list1)):
    print(list1[i])

1
2
3
apel

Merubah isi list

In [ ]:
list1

['1', '2', '3', 'apel']

In [ ]:
list1[3] = '4' #3 adalah index 'apel'

In [ ]:
list1

['1', '2', '3', '4']

Menambah isi List

In [ ]:
list2 = ['4', '5'] #dapat menambahkan berapapun item

In [ ]:
list1 = list1 + list2

In [ ]:
list1

['1', '2', '3', '4', '4', '5']

Trik - Penggunaan method format Append

In [ ]:
list1.append('6') #method apppend hanya dapat menambahkah satu item saja

In [ ]:
list1

['1', '2', '3', '4', '4', '5', '6']

Trik - Penggunaan method Pop

In [ ]:
list1.pop(3) #menghapus item pada index ke tiga, jika tanpa index maka menghapus item terakhir

'4'

In [ ]:
list1

['1', '2', '3', '4', '5', '6']

In [ ]:
list_pop = list1.pop() #mengambil nilai terakhir dan dimasukkan ke variabel baru

In [ ]:
list_pop

'6'

In [ ]:
list1 #nilai pada variabel list1 berkurang

['1', '2', '3', '4', '5']

Trik - Penggunaan method Sort

In [ ]:
var_sort = [1, 2, 3, 4, 5, 7, 8, 9, 0, 6]

In [ ]:
var_sort.sort()

In [ ]:
var_sort #item menjadi berurut

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
var_sort2 = ['b', 'a', 'c', 'd', 'f', 'e']

In [ ]:
var_sort2.sort()

In [ ]:
var_sort2

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
var_sort2.reverse() #method reverse untuk me

In [ ]:
var_sort2

['f', 'e', 'd', 'c', 'b', 'a']

Nested List - List dalam List

In [ ]:
nlist = [1, 2, 3, 4, [5, 6, 7, 8]]

In [ ]:
nlist[4] #index ke adalah list

[5, 6, 7, 8]

In [ ]:
nlist[4][0] #index ke empat dan mengambil nilai index ke nol pada list tersebut

5

Memahami List

In [ ]:
var1 = list() #kedua cara ini benar
var2 = []

In [ ]:
if var1 == var2:
    print('sama dongs') #kedua cara ini sama

sama dongs

In [ ]:
list('lenovo bagus') #membuat list dari string akan membagi tiap huruf menjadi item

['l', 'e', 'n', 'o', 'v', 'o', ' ', 'b', 'a', 'g', 'u', 's']

In [ ]:
pecah = list('lenovo bagus') #membuat list dari string akan membagi tiap huruf menjadi item

In [ ]:
pecah

['l', 'e', 'n', 'o', 'v', 'o', ' ', 'b', 'a', 'g', 'u', 's']

In [ ]:
angka1 = [1, 3, 5]
angka2 = [4, 6, 0]

In [ ]:
angka3 = angka1 + angka2

In [ ]:
angka3 #penambahan list akan menyatukan list

[1, 3, 5, 4, 6, 0]

In [ ]:
angka4 = [angka1, angka2]

In [ ]:
angka4 #membuat list baru dengan isi dua list diatas

[[1, 3, 5], [4, 6, 0]]

In [ ]:
for item in angka4:
    print(item)

    for items in item:
        print(items)

[1, 3, 5]
1
3
5
[4, 6, 0]
4
6
0

Memahami Dictionary

In [ ]:
dict1 = {'b1':'kambing', 'b2':'sapi', 'b3':'kuda'}

In [ ]:
dict1

{'b1': 'kambing', 'b2': 'sapi', 'b3': 'kuda'}

In [ ]:
# Cara memanggil item 
dict1['b2']

'sapi'

In [ ]:
# Contoh penggunaan dictionary
harga_mobil = {'avanza':200, 'xenia':190, 'alpard':850}

In [ ]:
harga_mobil['avanza']

200

In [ ]:
dict2 = {'k1':'bumi', 'k2':432, 'k3':[1, 2, 3, 4, 'lima'], 'k4':{'k5':'kopi', 'k6':'tea'}}

In [ ]:
# Mengambil item Kopi
dict2['k4']['k5']

'kopi'

In [ ]:
# Merubah item di Dictionary
dict2['k1'] = 123

In [ ]:
dict2

{'k1': 'bumi',
 'k2': 432,
 'k3': [1, 2, 3, 4, 'lima'],
 'k4': {'k5': 'kopi', 'k6': 'tea'}}

In [ ]:
# memunculkan semua kepala pada Dict
dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [ ]:
# memunculkan semua isi pada Dict
dict2.values()

dict_values([123, 432, [1, 2, 3, 4, 'lima'], {'k5': 'kopi', 'k6': 'tea'}])

In [ ]:
# memunculkan semua item
dict2.items()

dict_items([('k1', 'bumi'), ('k2', 432), ('k3', [1, 2, 3, 4, 'lima']), ('k4', {'k5': 'kopi', 'k6': 'tea'})])

In [ ]:
besar = dict2['k4']['k6'].upper()

In [ ]:
besar

'TEA'

In [ ]:
# Mengubah isi Dict
dict2['k4']['k6'] = dict2['k4']['k6'].upper()

In [ ]:
dict2

{'k1': 'bumi',
 'k2': 432,
 'k3': [1, 2, 3, 4, 'lima'],
 'k4': {'k5': 'kopi', 'k6': 'TEA'}}

Memahami Tuple ()

-Isi tidak bisa berubah, jadi gunakan ketika tahu bahwa data tersebut tidak akan diubah

In [ ]:
# Cara membuat tuple
tuple = (1, 2, 3, 4, 5)
tuple1 = 1, 2, 3, 4, 5

In [ ]:
print(type(tuple))
print(type(tuple1))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# Tuple bisa berbagai tipe data seperti List
tuple_b = (1, 2, 3, 'an', 'dry', 0.2)

In [ ]:
# Tuple bisa indexing
tuple_b[2]

3

*Tips - Usahakan selalu menggunakan kurung (),[], dan {}*

In [ ]:
# Item pada data Tuple tidak dapat diubah
tuple_b[5] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Cara merubah isi Tuple
tuple_b = tuple_b[0], tuple_b[1], tuple_b[2], 4, 5, tuple_b[5]

In [ ]:
tuple_b

(1, 2, 3, 'an', 'dry', 0.2)

In [ ]:
# Cara merubah isi Tuple
# Merubah Tuple ke List dan dikembalikan lagi
tuple_b = list(tuple_b)
tuple_b[5] = 6

In [ ]:
# Menghapus varibel
del tuple

In [ ]:
tuple_b = tuple(tuple_b)

In [ ]:
tuple_b

(1, 2, 3, 'an', 'dry', 6)

Method pada Tuple

In [ ]:
# Menghitung jumlah item yang sama
tuple_b.count(1)

1

In [ ]:
# Mengetahui index sebuah item
tuple_b.index('dry')

4

Mutiple Assignment

In [ ]:
# Membuat banyak variabel dengan satu baris
a, b, c, d = 1, 2, 3, 'empat'

In [ ]:
print(a)
print(b)
print(c)
print(d)

1
2
3
empat

In [ ]:
# Membuat banyak variabel dengan item yang sama
a = b = c = d = 'angka'

In [ ]:
a

'angka'

In [ ]:
d

'angka'

In [ ]:
# Menukar isi variable
a = 'ayam'
b = 'bebek'

In [ ]:
a

'ayam'

In [ ]:
b

'bebek'

In [ ]:
a, b = b, a

In [ ]:
print('a adalah {} dan b adalah {}'.format(a, b))

a adalah bebek dan b adalah ayam

In [ ]:
# Multiple Assignment dengan Tuple

In [ ]:
# Membuat variable dengan item yang akan menjadi isi
t1 = ('ayam', 'bebek', 12, 90.3, ['a', 2, 3.1])

In [ ]:
# Memasukkan item ke variabel
item1, item2, item3, item4, item5 = t1

In [ ]:
item1

'ayam'

In [ ]:
item5

['a', 2, 3.1]

Jumlah variabel dan item haruslah sama, jika tidak maka akan error

**Memahami Sets**
- Bersifat unik (tanpa duplikasi)
- Tidak berurutan

In [ ]:
# Membuat Sets
set1 = {'motor', 'mobil', 'pesawat'}
set2 = set([1, 2, 3, 'saya', 'kamu'])

In [ ]:
# Membuat set dari list
list_angka = [1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 6, 7]
set_angka = set(list_angka)

In [ ]:
# Item yang tersimpan akan tanpa duplikat
set_angka

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Membuat Set kosong
set3 = set()

In [ ]:
# Mengisi item dalam set menggunakan method .add
set3.add('biru')

In [ ]:
set3

{'biru'}

Memahami Boolean

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
type(True)

bool

Memahami Comparison Operator

.   == sama dengan  
.   != tidak sama dengan  
.   >  lebih besar dari (ekslusif)  
.   <  lebih kecil dari (ekslusif)  
.   >= lebih besar dari (inklusif)  
.   <= lebih kecil dari (inklusif)

catatan,
tanda sama dengan satu kali (=) disebut item assesment

In [ ]:
1 == 2

False

In [ ]:
1 != 2

True

In [ ]:
1 > 2

False

In [ ]:
1 < 2

True

Memahami Comparison Operator Berantai

and = dua kondisi harus True maka menghasilkan True  
or  = salah satu kondisi True maka menghasilkan True  
not = memberikan Boolean yang berlawanan

In [ ]:
# Menguji and 
1 == 1 and 2 == 2

True

In [ ]:
# Menguji and 
1 == 1 and 2 != 2

False

In [ ]:
# Menguji or
'aku' == 'i' or 1 == 1.0

True

In [ ]:
# Menguji or
'aku' == 'i' or 1 == 1.1

False

In [ ]:
# menguji not
not True

False

In [ ]:
'aku' == 'i' or 1 == 1.1

False

In [ ]:
# not akan memberikan boolean yang berlawanan
not('aku' == 'i' or 1 == 1.1)

True

Conditional

if...
elif...
else...

In [ ]:
if 1 == 1:
    print('bener')

bener

In [ ]:
if 1 > 1:
    print('bener')
else:
    print('salah')

salah

In [ ]:
berat = 71

In [ ]:
if berat <= 62:
    print('Kurus lu')
elif 62 < berat <= 68:
    print('Ideal')
else:
    print('Gemuk')

Gemuk

In [ ]:
lebar = 49

In [ ]:
if 45 <= lebar <=48:
    print('S')
elif 48 < lebar <= 50:
    print('M')
elif 50 < lebar <= 52:
    print('L')
elif 52 < lebar <= 54:
    print('XL')
else:
    print('ukuran khusus')

M

**For Loops**   
digunakan untuk melakukan iterasi (melewati elemen satu per satu)  
hampir semua objek di Python bisa diiterasi (iterable)  
  
  Aturan penulisan:  
   
for item in item:  
eksekusi perintah

In [ ]:
# For untuk sebuah String
for i in 'saya sedang belajar Python':
    print(i)

s
a
y
a

s
e
d
a
n
g

b
e
l
a
j
a
r

P
y
t
h
o
n

In [ ]:
# For untuk sebuah String
for i in 'saya sedang belajar Python':
    print(i, end='') #menambahkan methot end agar iterasi dilakukan ke kanan bukan kebawah

saya sedang belajar Python

In [ ]:
# For dengan List
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
jumlah = 0 # Membuat variabel interger

In [ ]:
for item in list:
    jumlah = item + jumlah
    print('Hasil penjumlahan pada iterator ke-{} adalah {}'.format(item, jumlah))

Hasil penjumlahan pada iterator ke-1 adalah 1
Hasil penjumlahan pada iterator ke-2 adalah 3
Hasil penjumlahan pada iterator ke-3 adalah 6
Hasil penjumlahan pada iterator ke-4 adalah 10
Hasil penjumlahan pada iterator ke-5 adalah 15
Hasil penjumlahan pada iterator ke-6 adalah 21
Hasil penjumlahan pada iterator ke-7 adalah 28
Hasil penjumlahan pada iterator ke-8 adalah 36
Hasil penjumlahan pada iterator ke-9 adalah 45
Hasil penjumlahan pada iterator ke-10 adalah 55

In [ ]:
for item in list:
    jumlah = item + jumlah    
print('Hasil penjumlahan total adalah', jumlah)

Hasil penjumlahan total adalah 110

**Looping dan Condictional**

In [ ]:
jumlah = 0
for i in 'saya sedang belajar Python':
    jumlah += 1
    if (i == 'a'):
        print('Kamu sedang berada di huruf A, pada index ke-'+ str(jumlah))

Kamu sedang berada di huruf A, pada index ke-2
Kamu sedang berada di huruf A, pada index ke-4
Kamu sedang berada di huruf A, pada index ke-9
Kamu sedang berada di huruf A, pada index ke-16
Kamu sedang berada di huruf A, pada index ke-18

In [ ]:
6%2

0

Tantangan

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in angka:
    if (i % 2 == 0):
       print('{} merupakan angka genap'.format(i))
    else:
        print('{} merupakan angka ganjil'.format(i))

1 merupakan angka ganjil
2 merupakan angka genap
3 merupakan angka ganjil
4 merupakan angka genap
5 merupakan angka ganjil
6 merupakan angka genap
7 merupakan angka ganjil
8 merupakan angka genap
9 merupakan angka ganjil
10 merupakan angka genap

For loop dengan Tuple dan List multiple items

In [ ]:
box1 = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
for i in box1:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [ ]:
for a, b, c in box1:
    print(a, b, c)
    print(b)
    print(c)

1 2 3
2
3
4 5 6
5
6
7 8 9
8
9

Catatan  
Jumlah iterasi harus sama dengan jumlah item dan sebaliknya

**While Loop**

Terdapat 3 argumen yang biasa digunakan:  
break = menghentikan Looping  
continue = melanjutkan Looping ke iterator selanjutnya dan melewati iterator saat ini  
pass = tidak melakukan apa-apa

In [ ]:
# Perintah while loop dengan if 
index = 0
while True: 
    print('Saya berhasil menjalankan while loop')
    index += 1
    if index == 10:
        break

Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop
Saya berhasil menjalankan while loop

In [ ]:
x = 1
while x <= 5:
    print('bilangan x saat ini bernilai', x)
    x += 1

bilangan x saat ini bernilai 1
bilangan x saat ini bernilai 2
bilangan x saat ini bernilai 3
bilangan x saat ini bernilai 4
bilangan x saat ini bernilai 5

In [ ]:
list_angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in list_angka:
    if i % 2 == 0:
        continue
    else:
        print('kamu sedang berada di angka ganjil ', i)

kamu sedang berada di angka ganjil  1
kamu sedang berada di angka ganjil  3
kamu sedang berada di angka ganjil  5
kamu sedang berada di angka ganjil  7
kamu sedang berada di angka ganjil  9

In [ ]:
for i in 'saya sudah mulai mahir python':
    print(i)
    if i == 'm':
        break

s
a
y
a

s
u
d
a
h

m

In [ ]:
for i in 'saya sudah mulai mahir python':
    if i == 'a' or i == ' ':
        continue
    else:
        print(i)

s
y
s
u
d
h
m
u
l
i
m
h
i
r
p
y
t
h
o
n

Range

In [ ]:
# Melakukan for loop angka 0 sampai 10
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Melakukan foor loop angka 0 sampai 10 dengan lompatan 2 angka
for i in range(0, 10, 2): # Formatnya (nilai awal, nilai anghir, jumlah angka yang dilewati)
    print(i)

0
2
4
6
8

In [ ]:
# Membuat list dengan range
angka1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
angka2 = list(range(1,11))

In [ ]:
print(angka1)
print(angka2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tips  
Cara diatas juga bisa untuk membuat list angkat dengan lompatan

In [ ]:
angka3 = list(range(10,101,10))

In [ ]:
angka3

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Enumerate

In [ ]:
kata = 'abcdefghijk'

for i in enumerate(kata):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')

karena hasilnya Tuple, maka kita dapat melakukan Tuple unpacking

In [ ]:
kata = 'abcdefghijk'

for i, j in enumerate(kata):
    print(i)
    print(j)

0
a
1
b
2
c
3
d
4
e
5
f
6
g
7
h
8
i
9
j
10
k

Zip

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [100, 200, 300, 400, 500]
list3 = ['aa', 'bb', 'cc', 'dd', 'ee']

In [ ]:
# Menggunakan list untuk menggabungkan item pada index yang sama di dua variabel menjadi tuple
list4 = list(zip(list1, list2, list3))

In [ ]:
list4

[(1, 100, 'aa'),
 (2, 200, 'bb'),
 (3, 300, 'cc'),
 (4, 400, 'dd'),
 (5, 500, 'ee')]

In [ ]:
for i in zip(list1, list2, list3):
    print(i)

(1, 100, 'aa')
(2, 200, 'bb')
(3, 300, 'cc')
(4, 400, 'dd')
(5, 500, 'ee')

Catatan  
Enumerate dan Zip menghasilkan data Tuple yang berarti tidak dapat diganti kecuali melakukan resignment

Item Checking

In [ ]:
# Melakukan pengecekan karakter pada String
'h' in 'alim ilman nurhadi'

True

In [ ]:
'z' in 'alim ilman nurhadi'

False

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}

In [ ]:
'a' in dict1

True

**Looping Tingkat Lanjut**

In [ ]:
# Membuat List dengan angka 1 sampai 10
list1 = list(range(0, 11))

list2 = []
for item in range(0, 11):
    list2.append(item)

In [ ]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List Comprehension

In [ ]:
list3 = [item for item in range(0, 11)]

In [ ]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Catatan  
list3 memiliki nilai yang sama namun dengan cara yg berbedan,  
cara tersebut memiliki kelebihan dapat dilakukan proses aritmatika

In [ ]:
list4 = [(item*10) for item in range(0, 11)] # Aritamatika dilakukan dalam kurung agar Pythonic

In [ ]:
list4

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Menggunakan If
list5 = [item for item in range(0,20) if item % 2 == 0]
list5

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# Menggunakan If Else
list6 = [item if item % 2 == 0 else 'Merupakan angka ganjil' for item in range(1, 20)]
list6

['Merupakan angka ganjil',
 2,
 'Merupakan angka ganjil',
 4,
 'Merupakan angka ganjil',
 6,
 'Merupakan angka ganjil',
 8,
 'Merupakan angka ganjil',
 10,
 'Merupakan angka ganjil',
 12,
 'Merupakan angka ganjil',
 14,
 'Merupakan angka ganjil',
 16,
 'Merupakan angka ganjil',
 18,
 'Merupakan angka ganjil']

In [ ]:
list7 = []
for item in range(1,11):
    if item % 2 == 0:
        list7.append(item)
    else:
        list7.append('ini adalah angka ganjil')
list7

['ini adalah angka ganjil',
 2,
 'ini adalah angka ganjil',
 4,
 'ini adalah angka ganjil',
 6,
 'ini adalah angka ganjil',
 8,
 'ini adalah angka ganjil',
 10]

In [ ]:
list8 = []
for item in range(1, 11):
    if item % 2 == 0:
        list8.append(item)
    else:
        list8.append('ini adalah bilangan ganjil')
list8

['ini adalah bilangan ganjil',
 2,
 'ini adalah bilangan ganjil',
 4,
 'ini adalah bilangan ganjil',
 6,
 'ini adalah bilangan ganjil',
 8,
 'ini adalah bilangan ganjil',
 10]

**Function**  
Blok kode terorganisir dan dapat digunakan kembali yang digunakan untuk melakukan sebuah tindakan/action  
  
def nama_fungsi(variabel):   
'''  
Docstring = sebuah komentar  
'''  
    *perintah yang diinginkan*  
    *return/print*  

return = mendefinisikan hasil fungsi ke variabel  
print  = mencetak hasil dari fungsi

In [ ]:
def cetak_kata():
    print('belajar python itu mudah')

In [ ]:
cetak_kata()

belajar python itu mudah

In [ ]:
def perkalian(num1, num2):
    return num1 * num2

In [ ]:
hasil = perkalian(5, 6)

In [ ]:
# Hasil operasi akan masuk ke variabel
hasil

30

In [ ]:
def perkalian1(num1, num2):
    print(num1 * num2)

In [ ]:
hasil1 = perkalian1(5,8)

40

In [ ]:
# Variable tidak memiliki item
hasil1

In [ ]:
type(hasil1)

NoneType

In [ ]:
# Fungsi dengan nama yang default
def belajar(mata_pelajaran = 'Python'):
    print('Saya sedang belajar {}'.format(mata_pelajaran))

In [ ]:
# Jika tidak mengisi mata pelajaran maka akan keluar nama yang default
belajar()

Saya sedang belajar Python

In [ ]:
belajar('IPA')

Saya sedang belajar IPA

In [ ]:
def angka_apa(var):
    '''
    ini adalah function untuk mengetahui ganjil dan genapnya sebuah bilangan
    '''
    if (var % 2 == 0):
        print(var,' adalah angka genap')
    else:
        print(var, 'adalah angka ganjil')

In [ ]:
angka_apa(88)

88  adalah angka genap

Fungsi menerima masukan (input())

In [ ]:
# Menerima masukan apapun
kalimat = input('masukkan kalimat ')

In [ ]:
kalimat

Fungsi untuk mendeteksi kata Python dalam sebuah kalimat

In [ ]:
# Fungsi untuk mendeteksi kata Python dalam sebuah kalimat
def cari_kata(kata):
    '''mencari kata python dalam sebuah kalimat'''
    kata1 = kata.split()
    if (kata1.count('python') or kata1.count('Python') == 1):
        print("Terdapat kata 'Python'")
    else:
        print("Tidak terdapat kata 'Python'")

In [175]:
cari_kata(kalimat)

Terdapat kata 'Python'

In [148]:
def cari_kata1(kata2):
    kata3 = kata2.lower()
    if ('python' in kata3):
        print("Terdapat kata 'Python'")
    else:
        print("Tidak terdapat kata 'Pyhton'")

In [176]:
cari_kata1(kalimat)

Terdapat kata 'Python'

Versi pak Mega

In [198]:
kalimat1 = input('Masukkan kalimat yang diinginkan ')

In [199]:
kalimat1

'manusia sedang belajar python'

In [200]:
def deteksi_kata(var):
    return 'python'.lower() in var